---
---

@import "{{ site.theme }}";
@import "magnific-popup/main";

.mfp-title {
    width: 100%;
    position:absolute;
    background-color: #000000;
    /* other formatting */
}

.thumbnail {
    border: 2px solid rgba(255, 255, 255, .7);
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
}
@media screen and (min-width: 64em) { .thumbnail { height: 180px; } }
@media screen and (min-width: 42em) and (max-width: 64em) { .thumbnail { height: 120px; } }
@media screen and (max-width: 42em) { .thumbnail { height: 120px; } }

.splash-header {
    color: #fff;
    text-align: center;
    vertical-align:middle;
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
}
@media screen and (min-width: 64em) { .splash-header { padding: 5rem 6rem; } }
@media screen and (min-width: 42em) and (max-width: 64em) { .splash-header { padding: 3rem 4rem; } }
@media screen and (max-width: 42em) { .splash-header { padding: 2rem 1rem; } }

.page-header {
    padding-bottom: 30px;
}

.main-content {
    h1 {
        font-weight: bold;
    }

    h1:after {
        display: block;
        height: 1px;
        content: " ";
        text-shadow: none;
        background-color: #999;
        width: 100%;
    }

    img {
        float: left;
        margin: 0 0 30px 0;
    }

    .img-profile {
        width: unset;
        margin: unset;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 20px;
        height: 200px;
    }

    @media screen and (min-width: 64em) { .img-profile { height: 200px; } }
    @media screen and (min-width: 42em) and (max-width: 64em) { .img-profile { height: 200px; } }
    @media screen and (max-width: 42em) { .img-profile { height: 150px; } }
}

.column-group {
    clear: both;
    
    img {
        float: left;
        clear: none;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 20px;
        width: 50%;
    }

    @media screen and (min-width: 64em) { img { width: 50%; } }
    @media screen and (min-width: 42em) and (max-width: 64em) { img { width: 50%; } }
    @media screen and (max-width: 42em) { img { width: 75%; } }
}

.gallery {
    width: 90%;
    margin: 30px auto;
    overflow: hidden;
    
    img {
        float: left;
        margin: 0px;
        padding: 0px;
        height: 200px;
    }

    @media screen and (min-width: 64em) { img { height: 200px; } }
    @media screen and (min-width: 42em) and (max-width: 64em) { img { height: 200px; } }
    @media screen and (max-width: 42em) { img { height: 150px; } }

    a {
        cursor: -webkit-zoom-in;
        cursor: -moz-zoom-in;
        cursor: zoom-in;
        border-bottom: 0;
        display: block;
        float: left;
        margin: 0 15px 15px 0;
    }

    a:hover {
        opacity:.9
    }
}

.category-container {
	width: 100%;
	margin: 30px auto;
    overflow: hidden;
    display: table;
}

.category-item {
	width: 29.33%;
    float: left;
    display: table-cell;
    margin: 0 2% 50px 2%;
    
    h3 {
        margin: 0;
        font-variant: small-caps;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        font-size: 80%;
        opacity: 0.5;
    }

    a {
        color: $body-text-color;
        text-decoration: none;
    }

    a:hover {
        opacity: 0.75;
    }

    span {
        display: block;
    }

    img {
        width: 100%;
        margin: unset;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0px;
        padding-right: 0px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    @media screen and (min-width: 64em) { width: 29.33%; }
    @media screen and (min-width: 42em) and (max-width: 64em) { width: 46%; }
    @media screen and (max-width: 42em) { width: 96%; }
}

.site-footer {
    padding-top: 0rem;
    margin-top: 2rem;
    border-top: none;

    @include large { }
    @include medium { }
    @include small { }

    .span-icon {
        a {
            text-decoration: none;
        }
        a:hover {
            text-decoration: none;
        }

        @include large {
            padding: 0px 5px 0px 5px;
        }

        @include medium {
            //font-size: 1rem;
            padding: 0px 10px 10px 10px;
        }

        @include small {
            padding: 0px 10px 10px 10px;
        }
    }

    .svg-icon {
        color: $body-text-color; // IE8
        fill: $body-text-color; // IE8
        width: 24px;
        height: 24px;

        &:hover {
            text-decoration: none;
            color: $section-headings-color; // IE8
            fill: $section-headings-color;
            transform: scale(1.25);
            transition: color .5s, transform .2s ease-out
        }

        @include large {
            width: 28px;
            height: 28px;
        }

        @include medium {
            width: 32px;
            height: 32px;
        }

        @include small {
            width: 36px;
            height: 36px;
        }
    }
}